# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=""

# APP_URL: The URL where this applet is hosted.
APP_URL="https://mmdse.netlify.app"

# SUPABASE_URL: Your Supabase project URL
VITE_SUPABASE_URL="https://jlvuciugkohpzbwguweq.supabase.co"

# SUPABASE_ANON_KEY: Your Supabase anonymous key
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpsdnVjaXVna29ocHpid2d1d2VxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU0OTk3NTIsImV4cCI6MjA5MTA3NTc1Mn0.NJipZ54tEpBbnWTv50rxJdBsUcJ85SvdFd7zQ-SROYQ"
